/* 按钮样式 */
/* 按钮默认样式 */
.tt-btn{
    display: block;
    position: relative;
    width: 10rem;
    margin: 0 auto;
    padding: .5rem 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: .7rem;
    text-align: center;
    color: #666;
    border-radius: 5px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select:none;
}
.tt-btn:active{
    border-color: #aaa;
    background-color:#eee;
}
/* 定制主操作按钮样式 */
.tt-btn.tt-btn-primary{
    background-color: #1AAD19;
    color: #fff;
}
.tt-btn.tt-btn-primary:active{
    background-color: #75db75;
    border-color: #00ff40;
}
/* 定制警示类按钮样式 */
.tt-btn.tt-btn-warning{
    background-color: #E64340;
    color: #fff;
}
.tt-btn.tt-btn-warning:active{
    background-color: rgb(235, 134, 132);
    border-color: rgb(233, 51, 48);
}
/* 定制不可用按钮的样式 */
.tt-btn.tt-btn-disabled{
    background-color: #F7F7F7;
    color: #999;
    opacity: .6;
}
.tt-btn.tt-btn-disabled:hover{
    background-color: #F7F7F7;
    border-color: #ccc;
    opacity: .6;
    cursor:not-allowed;
}
.tt-btn.tt-btn-disabled:active{
    background-color: #F7F7F7;
    border-color: #ccc;
    opacity: .6;
    cursor:not-allowed;
}
.tt-btn-large{
    width: 100%;
    font-size: .9rem;
}
.tt-btn-small{
    display: inline-block;
    width: 3rem;
    padding: .2rem 0;
    font-size: .7rem;
}