/*
 * @Descripttion: 字体图标
 * @version: 0.0.1
 * @Author: tiantian
 * @Date: 2019-09-14 21:21:17
 * @LastEditors: sueRimn
 * @LastEditTime: 2019-09-14 21:35:10
 */
/* @import 'https://cdn.bootcss.com/font-awesome/5.10.2/css/all.min.css'; */
@import 'https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css';

.fa{
    display: inline-block;
    text-align: center;
}
/* 图标默认样式 */
.fa{
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
/* 红色图标 */
.fa-code{
    color: red;
}
/* 圆形实心图标 */
.fa-info {
    background: #666;
    color: #fff;
    border-radius: 50%;
}
/* 大图标 */
/* .fa-check {
    display: block;
    margin: 0 auto;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.0rem;
    border-radius: 50%;
    background: #09BB07;
    color: #fff;
} */
/* 垂直方向上振动 */
.fa-vibrate-y{
    animation: fa-vibrate-y 1.5s infinite ease-in;
}
/* 振动轨迹 */
@keyframes fa-vibrate-y{
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}