/* panel 组件样式 */
/* Panel 标题 */
.tt-panel-title{
    height: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
    color: #aaa;
    background: #fff;
    border-top: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Panel 内容区 */
 .tt-panel-body{
    position: relative;
    margin-bottom: .6rem;
    padding: .6rem 1rem;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.tt-panel-body.no-padding{
    padding: 0;
}