/*
 * @Descripttion: css入口
 * @version: 0.0.1
 * @Author: tiantian
 * @Date: 2019-09-14 21:00:19
 * @LastEditors: sueRimn
 * @LastEditTime: 2019-09-14 23:07:09
 */

 /* css reset */
 @import './reset.css';

 /* 公共样式 */
 @import './common.css';

 /* icon样式 */
 @import './icon.css';

 /* 布局样式 */
 @import './layout.css';

/* 搜索组件样式 */
@import './search.css';

/* 列表组件样式 */
@import './list.css';

/* 九宫格组件样式 */
@import './grid.css';

/* menu组件样式 */
@import './menu.css';

/* modal组件样式 */
@import './modal.css';

/* 加载按钮组件样式 */
@import './loading.css';

/* 登录框 */
.login-wrap{
    position: fixed;
    width: 300px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* body默认样式 */
body{
    max-width: 640px;
    margin: 0 auto;
    background: #f8f8f8;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/* 通用头部栏 */
.tt-header-common{
    display: flex;
    line-height: 2.3rem;
    text-align: center;
    background: #f8f8f8;
    font-size: 1rem;
}
/* 通用头部栏左侧功能区 */
.tt-header-common > .left{
    flex-basis: 3rem;
    text-align: center;
    flex-shrink: 0;
    font-size: .8rem;
}
.tt-header-common .fa{
    font-size: .8rem;
    width: 1.2rem;
}
/* 通用头部栏中间标题区 */
.tt-header-common > .title{
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 通用头部栏右侧功能区 */
.tt-header-common > .right{
    flex-basis: 3rem;
    flex-shrink: 0;
}
/* 通用导航栏 */
.tt-navbar-common{
    display: flex;
    background: #f8f8f8;
    text-align: center;
}
/* 导航项样式 */
.tt-navbar-common>.navbar-item{
    flex: 1;
    color: #808080;
}
/* 被选中的样式 */
.tt-navbar-common > .navbar-item.active{
    color: #09BB07;
}
/* 导航图标 */
.tt-navbar-common > .navbar-item > .icon{
    font-size: 1rem;
}
/* 导航名称 */
.tt-navbar-common > .navbar-item > .name{
    display: block;
    font-size: .6rem;
    padding-bottom: .2rem;
}
/* panel 组件样式 */
/* Panel 标题 */
.tt-panel-title{
    height: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
    color: #aaa;
    background: #fff;
    border-top: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Panel 内容区 */
 .tt-panel-body{
    position: relative;
    margin-bottom: .6rem;
    padding: .6rem 1rem;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.tt-panel-body.no-padding{
    padding: 0;
}
/* input 表单项 */
/* 表单的单行容器 */
.tt-form-item{
    display: flex;
    position: relative;
    padding-left: 1rem;
    border-bottom: 1px solid #eee;
}
/* 去掉最后一行的下边框 */
.tt-form-item:last-child{
    border-bottom: none;
}
/* 表单标签 */
.tt-form-item > .tt-form-label{
    display: block;
    width: 3.5rem;
    font-size: .8rem;
    color: #666;
    height: 2rem;
    line-height: 2rem;
}
/* 表单内容区 */
.tt-form-item > .tt-form-body{
    flex: 1;
}
/* 输入框 */
.tt-form-item > .tt-form-body > .tt-input{
    width: 99%;
    height: 2rem;
    line-height: 2rem;
    font-size: .8rem;
    border:none;
}
/* 修复 input[date] 选中时样式 */
input[type=date]{
    overflow: hidden;
}
/* 表单中的清空按钮 */
.tt-form-item > .tt-form-body > .tt-input-reset{
    position: absolute;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    top: 50%;
    margin-top: -.4rem;
    right: 1rem;
    font-size: .6rem;
    background: #aaa;
    color: #fff;
    border-radius: 50%;
}
/* 表单中的错误提示按钮 */
.tt-form-item > .tt-form-body > .tt-input-warning{
    position: absolute;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    top: 50%;
    margin-top: -.4rem;
    right: 1rem;
    font-size: .6rem;
    border-radius: 50%;
    color: red;
    border: 1px solid red;
}
/* 表单单选和多选 */
/* 自定义单选 */
.tt-form-item > .tt-radio{
    flex: 1;
    font-size: .8rem;
    line-height: 2rem;
}
/* 未选中状态的图标 */
.tt-form-item > .tt-radio > .tt-radio-icon{
    font-size: .8rem;
    line-height: 2rem;
    color: #09BB07;
    visibility: hidden;
}
/* 选中状态的图标 */
.tt-form-item > .tt-radio.checked > .tt-radio-icon{
    visibility: visible;
}
/* 隐藏的radio类型的input */
.tt-form-item > .tt-radio > .tt-radio-input{
    position: absolute;
    left: -999rem;
}
/* 自定义多选 */
.tt-form-item > .tt-check{
    flex: 1;
    font-size: .8rem;
    line-height: 2rem;
}
/* 未选中时的图标 */
.tt-form-item > .tt-check > .tt-check-icon{
    margin-right: .5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: rgba(0,0,0,0);
    font-size: .6rem;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
}
/* 选中时的图标 */
.tt-form-item > .tt-check.checked > .tt-check-icon{
    background: #09BB07;
    color: #fff;
    border-color: rgba(0,0,0,0)
}
/* 隐藏的check类型的input */
.tt-form-item > .tt-check > .tt-check-input{
    position: absolute;
    left: -999rem;
}
/* 按钮样式 */
/* 按钮默认样式 */
.tt-btn{
    display: block;
    position: relative;
    width: 10rem;
    margin: 0 auto;
    padding: .5rem 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: .7rem;
    text-align: center;
    color: #666;
    border-radius: 5px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select:none;
}
.tt-btn:active{
    border-color: #aaa;
    background-color:#eee;
}
/* 定制主操作按钮样式 */
.tt-btn.tt-btn-primary{
    background-color: #1AAD19;
    color: #fff;
}
.tt-btn.tt-btn-primary:active{
    background-color: #75db75;
    border-color: #00ff40;
}
/* 定制警示类按钮样式 */
.tt-btn.tt-btn-warning{
    background-color: #E64340;
    color: #fff;
}
.tt-btn.tt-btn-warning:active{
    background-color: rgb(235, 134, 132);
    border-color: rgb(233, 51, 48);
}
/* 定制不可用按钮的样式 */
.tt-btn.tt-btn-disabled{
    background-color: #F7F7F7;
    color: #999;
    opacity: .6;
}
.tt-btn.tt-btn-disabled:hover{
    background-color: #F7F7F7;
    border-color: #ccc;
    opacity: .6;
    cursor:not-allowed;
}
.tt-btn.tt-btn-disabled:active{
    background-color: #F7F7F7;
    border-color: #ccc;
    opacity: .6;
    cursor:not-allowed;
}
.tt-btn-large{
    width: 100%;
    font-size: .9rem;
}
.tt-btn-small{
    display: inline-block;
    width: 3rem;
    padding: .2rem 0;
    font-size: .7rem;
}