/*
 * @Descripttion: css入口
 * @version: 0.0.1
 * @Author: tiantian
 * @Date: 2019-09-14 21:00:19
 * @LastEditors: sueRimn
 * @LastEditTime: 2019-09-14 21:48:49
 */

 /* css reset */
 @import './reset.css';

 /* 公共样式 */
 @import './common.css';

 /* icon样式 */
 @import './icon.css';

 /* 布局样式 */
 @import './layout.css';

/* 登录框 */
.login-wrap{
    position: fixed;
    width: 300px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* body默认样式 */
body{
    max-width: 640px;
    margin: 0 auto;
    background: #f8f8f8;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}